n8n/secondSubworkflow_analyzeImages.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1152,
        16
      ],
      "id": "f7dcf86d-ae0b-4d8d-a45e-975e7716bea2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please analyze each of the following ad images and extract structured creative data according to your system instructions.\n\nImages to process: {{ $json.data }}\n\nRequirements:\n- Analyze ALL images (if there are 14 images, analyze all 14)\n- Use exact file names for image_id: {{ $json.data.map(item => item.name) }}\n- Use the 'Get_Scrape_Data' tool for ad platform information\n- Output format: Start directly with \"[\" - no explanations, no markdown, no extra text",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Visual Ad Intelligence Extraction Agent.\n\nYour task is to analyze a list of advertisement images and convert each image into a structured JSON object containing normalized, consistent, and repeatable creative intelligence data. Your output will be used for marketing insight generation, visual charting, and competitor benchmarking.\n\nFor EVERY image, extract the following fields:\n\n🆔 IDENTIFICATION:\n- image_id: Use the exact original filename of each input image — do not generate or alter it — as the `image_id`.\n- logo_brand: Detected brand name (e.g., \"Bell\", \"Rogers\").\n- platform: Use the tools called Get_Scrape_Data to get the information for the list of publisher_platform  (e.g., [\"Facebook\", \"Instagram\"], etc).\n\n🎨 VISUAL COMPOSITION:\n- dominant_color: Most prominent color (e.g., \"White\", \"Blue\" , etc).\n- secondary_color: Second-most prominent color.\n- tertiary_color: Third-most prominent color.\n- brightness_score: Float 0–1 (dark to bright).\n- contrast_score: Float 0–1 (low to high contrast).\n- text_area_ratio: Float 0–1 (portion of image covered by text).\n- text_alignment: \"Top-heavy\", \"Centered\", \"Bottom\", or \"Scattered\".\n\n👤 HUMAN & PRODUCT DETECTION:\n- call_to_action_visible: 1 if a CTA is visible, else 0.\n- target_audience: Inferred audience segment (e.g., \"Young Adults\", \"Families\", \"Tech Enthusiasts\").\n\n📝 TEXT & MESSAGING:\n- text_excerpt: A short excerpt of visible text (max ~25 words).\n- text_theme: \"Sale\", \"Holiday\", \"Bundle\", \"Feature Focus\", etc.\n\n🧩 CREATIVE CLASSIFICATION:\n- ad_type: \"Product Shot\", \"Lifestyle\", \"Promo Banner\", etc.\n- dominant_object: The most visually dominant object in the image (e.g., \"Laptop\", \"Shoe\", \"Person\", \"Phone\", \"Text Box\")\n\n📤 OUTPUT FORMAT:\nReturn your output as a JSON array where each image is an object. Maintain the same field order. Example:\n\n[\n  {\n    \"image_id\": \"ad1.jpg\",\n    \"logo_brand\": \"Bell\",\n    \"platform\": [\"Facebook\", \"Instagram\"],\n    \"dominant_color\": \"White\",\n    \"secondary_color\": \"Blue\",\n    \"tertiary_color\": \"Gray\",\n    \"brightness_score\": 0.82,\n    \"contrast_score\": 0.7,\n    \"text_area_ratio\": 0.25,\n    \"text_alignment\": \"Bottom\",\n    \"call_to_action_visible\": 1,\n    \"target_audience\": \"Young Adults\",\n    \"text_excerpt\": \"Save big with Bell this summer!\",\n    \"text_theme\": \"Sale\",\n    \"ad_type\": \"Promo Banner\",\n    \"dominant_object\": \"Phone\"\n  }\n]\n\nCRITICAL OUTPUT RULES:\n- Return ONLY valid JSON starting with \"[\"\n- Do not add explanations, markdown, or wrapper objects\n- Every field must be present for every image\n- Use exact filename for image_id (no modifications)\n\n🔁 CONSISTENCY & RULES:\n- Use consistent labels and capitalizations across runs.\n- Repeatable outputs: Avoid randomness unless the visual is truly ambiguous.\n- Always include all fields (even if null, \"Unclear\", or 0).\n- Don’t hallucinate fields not visible or infer brand if no logo is detected.\n\nYour job is **not to evaluate ad quality**, but to extract features for further insight by downstream agents or analysts.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -608,
        32
      ],
      "id": "582b0372-68fe-41e4-8e35-6d18850a5c06",
      "name": "AI Agent1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "B",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -640,
        256
      ],
      "id": "4df39a84-41e3-4495-95b8-d762df702225",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -768,
        256
      ],
      "id": "85aff4c4-7715-4dd0-81ea-f0b966fd62e7",
      "name": "gg 2.5 pro1",
      "credentials": {
        "openRouterApi": {
          "id": "S6Rc6g0Lgh9WZsBA",
          "name": "Client OpenRouter Acc"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"AdImageData\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"required\": [\n      \"image_id\",\n      \"logo_brand\",\n      \"platform\",\n      \"dominant_color\",\n      \"secondary_color\",\n      \"tertiary_color\",\n      \"brightness_score\",\n      \"contrast_score\",\n      \"text_area_ratio\",\n      \"text_alignment\",\n      \"call_to_action_visible\",\n      \"target_audience\",\n      \"text_excerpt\",\n      \"text_theme\",\n      \"ad_type\",\n      \"dominant_object\"\n    ],\n    \"properties\": {\n      \"image_id\": {\n        \"type\": \"string\"\n      },\n      \"logo_brand\": {\n        \"type\": \"string\"\n      },\n      \"platform\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"dominant_color\": {\n        \"type\": \"string\"\n      },\n      \"secondary_color\": {\n        \"type\": \"string\"\n      },\n      \"tertiary_color\": {\n        \"type\": \"string\"\n      },\n      \"brightness_score\": {\n        \"type\": \"number\"\n      },\n      \"contrast_score\": {\n        \"type\": \"number\"\n      },\n      \"text_area_ratio\": {\n        \"type\": \"number\"\n      },\n      \"text_alignment\": {\n        \"type\": \"string\"\n      },\n      \"call_to_action_visible\": {\n        \"type\": \"integer\",\n        \"enum\": [0, 1]\n      },\n      \"target_audience\": {\n        \"type\": \"string\"\n      },\n      \"text_excerpt\": {\n        \"type\": \"string\"\n      },\n      \"text_theme\": {\n        \"type\": \"string\"\n      },\n      \"ad_type\": {\n        \"type\": \"string\"\n      },\n      \"dominant_object\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -480,
        256
      ],
      "id": "0f965d0f-66fc-48ac-ab7e-ba113bf9655c",
      "name": "format_final_json_response"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -976,
        16
      ],
      "id": "b384198d-eb49-4cad-bf71-bbf8305ddf0f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "<YOUR-S3-BUCKET>",
        "fileName": "=image2text/{{ $('When Executed by Another Workflow').first().json.companyName }}/batch_2_{{ $('When Executed by Another Workflow').first().json.companyName }}_{{ $('When Executed by Another Workflow').first().json.timeStamp }}.json",
        "binaryData": false,
        "fileContent": "={{ JSON.stringify($json.output, null, 2) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -144,
        16
      ],
      "id": "40c53eb6-3ca7-40c3-9a6f-1ff78b838f86",
      "name": "Upload a file",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "aws": {
          "id": "07wpyQkuGoulsBBt",
          "name": "S3 Acc"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "440263d9-4ac9-4b46-9596-d70a03a811a4",
              "leftValue": "={{ $json.data[0].data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        16
      ],
      "id": "19ee7303-e858-4407-9318-0d76d0ac1e98",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "<YOUR-S3-BUCKET>",
        "fileName": "=image2text/{{ $('When Executed by Another Workflow').first().json.companyName }}/batch_2_{{ $('When Executed by Another Workflow').first().json.companyName }}_{{ $('When Executed by Another Workflow').first().json.timeStamp }}.json",
        "binaryData": false,
        "fileContent": "=null",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -608,
        -128
      ],
      "id": "f44c01a5-42cf-4e5e-8012-fb42d11aded8",
      "name": "Upload a file1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "aws": {
          "id": "07wpyQkuGoulsBBt",
          "name": "S3 Acc"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "<YOUR-S3-BUCKET>",
        "returnAll": true,
        "options": {
          "folderKey": "=image2text/{{ $('When Executed by Another Workflow').first().json.companyName }}/"
        }
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        16,
        32
      ],
      "id": "f2ff465a-4950-4875-8005-a77032678faa",
      "name": "Get many files2",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "aws": {
          "id": "07wpyQkuGoulsBBt",
          "name": "S3 Acc"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73caeff6-ee92-48a8-94ab-0dcf0b40d338",
              "leftValue": "={{ $json.count }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        32
      ],
      "id": "b3b6f1e6-f673-441a-8c3e-205487292ae9",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      count: items.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        32
      ],
      "id": "453489f6-c846-4acf-9969-27dfebbd22fd",
      "name": "get the total item"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        704,
        224
      ],
      "id": "0dc5682e-51a8-456b-a462-212990d9a9a5",
      "name": "Wait",
      "webhookId": "852efa9f-b872-49f2-adc2-a9a5e77fa753"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10207bf6-22b1-4bcc-b7e7-0514c4738215",
              "leftValue": "={{ $json.Key }}",
              "rightValue": "_BellCanada_",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -192
      ],
      "id": "d83138a8-3279-467d-af64-7c0da188d20c",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://<YOUR-AWS-API>/fields",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "companyId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -256
      ],
      "id": "0a9601ee-2081-4941-8fd6-a772f2889c19",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://<YOUR-AWS-API>/fields",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "companyId",
              "value": "={{ $('When Executed by Another Workflow').first().json.companyId }}"
            },
            {
              "name": "jobId",
              "value": "={{ $('When Executed by Another Workflow').first().json.jobId }}"
            },
            {
              "name": "fieldToUpdate",
              "value": "image2textStatus"
            },
            {
              "name": "updatedValue",
              "value": "2"
            },
            {
              "name": "tables",
              "value": "jobs,companies"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        16
      ],
      "id": "7e5669b2-1be3-420e-af8c-be2e1d9fda30",
      "name": "image2textStatus -> 2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://<YOUR-AWS-API>/fields",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "companyId",
              "value": "={{ $('When Executed by Another Workflow').first().json.companyId }}"
            },
            {
              "name": "jobId",
              "value": "={{ $('When Executed by Another Workflow').first().json.jobId }}"
            },
            {
              "name": "fieldToUpdate",
              "value": "image2textStatus"
            },
            {
              "name": "updatedValue",
              "value": "0"
            },
            {
              "name": "tables",
              "value": "jobs,companies"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        -208
      ],
      "id": "bb47d31d-2687-41ce-b8a5-8d936b7fa9e7",
      "name": "image2textStatus -> 0",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80478a91-74ae-40fa-9878-830890463607",
              "leftValue": "={{ JSON.stringify($json.output, null, 2) }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        0
      ],
      "id": "da885d30-f489-47f8-9b0c-30fec98a91a1",
      "name": "If3"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "gg 2.5 pro1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "format_final_json_response": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Get many files2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many files2": {
      "main": [
        [
          {
            "node": "get the total item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "image2textStatus -> 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get the total item": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get many files2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "image2textStatus -> 0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "name": "ad_27_telus_meta_04_09_26_25_11_2025.jpg",
        "chunkIndex": 0,
        "chunkNumber": 2,
        "data": "ad_27_telus_meta_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_28_telus_linkedin_04_09_26_25_11_2025.jpg",
        "chunkIndex": 1,
        "chunkNumber": 2,
        "data": "ad_28_telus_linkedin_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_29_telus_meta_04_09_26_25_11_2025.jpg",
        "chunkIndex": 2,
        "chunkNumber": 2,
        "data": "ad_29_telus_meta_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_2_telus_google_04_09_26_25_11_2025.jpg",
        "chunkIndex": 3,
        "chunkNumber": 2,
        "data": "ad_2_telus_google_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_30_telus_linkedin_04_09_26_25_11_2025.jpg",
        "chunkIndex": 4,
        "chunkNumber": 2,
        "data": "ad_30_telus_linkedin_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_31_telus_linkedin_04_09_26_25_11_2025.jpg",
        "chunkIndex": 5,
        "chunkNumber": 2,
        "data": "ad_31_telus_linkedin_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_32_telus_linkedin_04_09_26_25_11_2025.jpg",
        "chunkIndex": 6,
        "chunkNumber": 2,
        "data": "ad_32_telus_linkedin_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_33_telus_google_04_09_26_25_11_2025.jpg",
        "chunkIndex": 7,
        "chunkNumber": 2,
        "data": "ad_33_telus_google_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_34_telus_linkedin_04_09_26_25_11_2025.jpg",
        "chunkIndex": 8,
        "chunkNumber": 2,
        "data": "ad_34_telus_linkedin_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_35_telus_meta_04_09_26_25_11_2025.jpg",
        "chunkIndex": 9,
        "chunkNumber": 2,
        "data": "ad_35_telus_meta_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_36_telus_linkedin_04_09_26_25_11_2025.jpg",
        "chunkIndex": 10,
        "chunkNumber": 2,
        "data": "ad_36_telus_linkedin_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_37_telus_google_04_09_26_25_11_2025.jpg",
        "chunkIndex": 11,
        "chunkNumber": 2,
        "data": "ad_37_telus_google_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_38_telus_google_04_09_26_25_11_2025.jpg",
        "chunkIndex": 12,
        "chunkNumber": 2,
        "data": "ad_38_telus_google_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_39_telus_meta_04_09_26_25_11_2025.jpg",
        "chunkIndex": 13,
        "chunkNumber": 2,
        "data": "ad_39_telus_meta_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_3_telus_google_04_09_26_25_11_2025.jpg",
        "chunkIndex": 14,
        "chunkNumber": 2,
        "data": "ad_3_telus_google_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_43_telus_meta_04_09_26_25_11_2025.jpg",
        "chunkIndex": 15,
        "chunkNumber": 2,
        "data": "ad_43_telus_meta_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_44_telus_meta_04_09_26_25_11_2025.jpg",
        "chunkIndex": 16,
        "chunkNumber": 2,
        "data": "ad_44_telus_meta_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      },
      {
        "name": "ad_45_telus_meta_04_09_26_25_11_2025.jpg",
        "chunkIndex": 17,
        "chunkNumber": 2,
        "data": "ad_45_telus_meta_04_09_26_25_11_2025.jpg",
        "companyId": "c2559a5389b7d65cf4fdd19bb4620fbf69c7857574a86f6e4bcee31f68986cac",
        "jobId": "c74a24a4b9542ba600d811c07ef504abf253efa82dc010ca32cbee5c4ad48c2f",
        "companyName": "telus",
        "timeStamp": "2025-11-25T04:09:45.529180"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a955702ba6226580b4f4e3c5ce36cf98bf81e8281d2dc405424c38ee160f7d28"
  }
}
